<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!--Header-->
    <%- include('../partials/header')%>
        <!--Main-->
        <main>

            <h1><strong>User Information</strong></h1>
            <table class="data">
                <tr>
                    <th>First&nbsp;Name</th>
                    <th>Last&nbsp;Name</th>
                    <th>Email</th>
                </tr>

                    <tr>
                        <td>
                            <%=users[0].firstname%>
                        </td>
                        <td>
                            <%=users[0].lastname%>
                        </td>
                        <td>
                            <%=users[0].email%>
                        </td>
                    </tr>
            </table>


            
            <h1><strong>Schedule Information</strong></h1>
            <table class="data">
                <tr>
                    <th>Day</th>
                    <th>Start&nbsp;At</th>
                    <th>End&nbsp;At</th>
                </tr>

                    <tr>
                        <td>
                            <%=schedules[0].day%>
                        </td>
                        <td>
                            <%=schedules[0].start_at%>
                        </td>
                        <td>
                            <%=schedules[0].end_at%>
                        </td>
                    </tr>
            </table>
        </main>

</body>

</html>